# ===================================================================
# QRI custom
# ===================================================================

rebar

log
ebin

.erlang.cookie
.idea
*.iml

*.log

# ===================================================================
# Defaults for Erlang from Github
# ===================================================================

.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin/*.beam
rel/example_project
.concrete/DEV_MODE
.rebar
