[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_full_version = "3.6.5"

[packages]
"ruamel.yaml" = "~=0.15.55"
click = "~=6.7"
jinja2 = "~=2.10"

[dev-packages]
pycodestyle = "*"
"ribosome.tool" = "*"
