{sub_dirs, ["rel"]}.

{erl_opts, [debug_info]}.

{deps_dir, ["deps"]}.

{deps, [
    {cowboy, ".*", {git, "https://github.com/ninenines/cowboy", "master"}},
    {msgpack, ".*", {git, "git://github.com/msgpack/msgpack-erlang.git", "master"}},
    {raven, ".*", {git, "https://github.com/soundrop/raven-erlang", "master"}}
]}.
